*.o
*.a

build
DerivedData
project.xcworkspace
xcshareddata
xcuserdata

autom4te.cache
configure
config.h
config.h.in
config.h.in~
config.log
config.status
Makefile

hattrib
hcd
hcopy
hdel
hdir
hformat
hfsutil
hls
hmkdir
hmount
hpwd
hrename
hrmdir
humount
hvol
